body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    transition: background-color 0.3s ease-in-out;
}

.sidebar:hover {
    background-color: #444;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6347;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    display: block;
    text-align: center;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.sidebar ul li a:hover {
    color: #fff;
    background-color: #ff6347;
}

.submenu {
    list-style-type: none;
    padding-left: 20px;
}

.submenu li {
    margin: 5px 0;
}

.submenu li a {
    color: #ff4500;
}

.submenu li a:hover {
    color: #fff;
    background-color: #ff4500;
}

.content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    text-align: center;
    margin-top: 10px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #ff4500;
}
